<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <h3>
    도서 페이지
  </h3>

  <div>
    <a href="/product/create">도서 등록</a>
  </div>

  <div th:each="product : ${productList}">
    <div>
      <a th:href="@{|/product/${product.id}|}"+>
        <span th:text="${product.id}"></span>
        <span>|</span>
        <span th:text="${product.subject}"></span>
        <span>|</span>
        <span th:text="${product.price}"></span>
        <span>|</span>
        <span th:text="${product.author.username}"></span>
        <span>|</span>
        <span th:text="${#temporals.format(product.createDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
      </a>
    </div>
  </div>
</div>
</html>