<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <h3>
        게시글 작성 페이지
    </h3>
    <div class="container">
        <h1>글쓰기</h1>

        <script>
            function WriteForm__submit(form) {
                form.subject.value = form.subject.value.trim();

                if (form.subject.value.length == 0) {
                    alert("제목을 입력해주세요.");
                    form.subject.focus();
                    return;
                }

                form.content.value = form.content.value.trim();

                if (form.content.value.length == 0) {
                    alert("내용을 입력해주세요.");
                    form.content.focus();
                    return;
                }

                form.submit();
            }

        </script>

        <form th:action th:object="${postForm}" method="POST" onsubmit="WriteForm__submit(this); return false;" >
            <div>
                <span>제목</span>
                <input type="text" th:field="*{subject}">
                <div class="field-error" th:errors="*{subject}">제목 오류</div>
            </div>
            <div>
                <span>내용</span>
                <textarea th:field="*{content}"></textarea>
                <div class="field-error" th:errors="*{content}">내용 오류</div>
            </div>
            <div>
                <span>해시태그</span>
                <input type="text" th:field="*{hashTagContents}" placeholder="#태그1 #태그2" />
                <div class="field-error" th:errors="*{hashTagContents}">해시태크 오류</div>
            </div>
            <div>
                <span>글쓰기</span>
                <input type="submit" value="작성">
            </div>
        </form>
    </div>
</div>
</html>