<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <script>
    let MemberUsernameAndEmail__submitDone = false;

    function MemberUsernameAndEmail__submit(form) {
      if (MemberUsernameAndEmail__submitDone) {
        return;
      }

      form.email.value = form.email.value.trim();

      if (form.email.value.length == 0) {
        alert("이메일을 입력해주세요.");
        form.email.focus();

        return;
      }

      form.username.value = form.username.value.trim();

      if (form.username.value.length == 0) {
        alert("아이디를 입력해주세요.");
        form.username.focus();

        return;
      }

      form.submit();
      MemberUsernameAndEmail__submitDone = true;
    }
  </script>
  <section class="section section-join flex-grow flex flex-col items-center justify-center">
    <div class="max-w-md w-full px-2 pt-4">
      <h1 class="font-bold text-lg">비밀번호 찾기</h1>

      <form th:action method="post" th:object="${memberFindPasswordForm}" class="flex flex-col gap-3" onsubmit="MemberUsernameAndEmail__submit(this); return false;">

        <div th:if="${#fields.hasGlobalErrors()}">
          <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">비밀번호 오류</p>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">아이디</span>
          </label>
          <input type="text" th:field="*{username}" placeholder="아이디를 입력해주세요." class="input input-bordered">
          <div class="field-error" th:errors="*{username}">아이디 오류</div>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">이메일</span>
          </label>
          <input type="email" th:field="*{email}" placeholder="이메일을 입력해주세요." class="input input-bordered">
          <div class="field-error" th:errors="*{email}">이메일 오류</div>
        </div>

        <input type="submit" class="btn btn-primary" value="메일 전송"/>
      </form>

    </div>
  </section>
</div>
</html>
