<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <script>
    let MemberUsernameAndEmail__submitDone = false;

    function MemberUsernameAndEmail__submit(form) {
      if (MemberUsernameAndEmail__submitDone) {
        return;
      }

      form.email.value = form.email.value.trim();

      if (form.email.value.length == 0) {
        alert("이메일을 입력해주세요.");
        form.email.focus();

        return;
      }

      form.username.value = form.username.value.trim();

      if (form.username.value.length == 0) {
        alert("아이디를 입력해주세요.");
        form.username.focus();

        return;
      }

      form.submit();
      MemberUsernameAndEmail__submitDone = true;
    }
  </script>

  <h3>아이디 찾기 페이지</h3>
  <div class="container">
    <form th:action method="post" th:object="${memberFindPasswordForm}" onsubmit="MemberUsernameAndEmail__submit(this); return false;">

      <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">이메일이 전송되었습니다.</p>
      </div>

      <div>
        <input type="text" th:field="*{username}" placeholder="아이디를 입력해주세요.">
      </div>
      <div class="field-error" th:errors="*{username}">아이디 오류</div>

      <div>
        <input type="email" th:field="*{email}" placeholder="이메일을 입력해주세요.">
      </div>
      <div class="field-error" th:errors="*{email}">이메일 오류</div>

      <input type="submit" value="메일 전송"/>
    </form>
  </div>
</div>
</html>
