<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <script>
        let MemberLogin__submitDone = false;

        function MemberLogin__submit(form) {
            if (MemberLogin__submitDone) {
                return;
            }

            form.username.value = form.username.value.trim();

            if (form.username.value.length == 0) {
                alert("아이디를 입력해주세요.");
                form.username.focus();

                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length == 0) {
                alert("비밀번호를 입력해주세요.");
                form.password.focus();

                return;
            }

            form.submit();
            MemberLogin__submitDone = true;
        }
    </script>

    <h3>회원가입 페이지</h3>
    <div class="container">
        <div th:if="${param.error}">
            <div class="field-error">
                아이디 또는 비밀번호가 일치하지 않습니다.
            </div>
        </div>
        <form th:action method="POST" onsubmit="MemberLogin__submit(this); return false;">
            <div>
                <span>아이디</span>
                <input type="text" name="username">
            </div>
            <div>
                <span>비밀번호</span>
                <input type="password" name="password">
            </div>
            <div>
                <input type="submit" value="로그인">
            </div>
        </form>
        <div >
            <a href="/member/join">가입하기</a>
            <a href="/member/findUsername">아이디 찾기</a>
            <a href="/member/findPassword">비밀번호 찾기</a>
        </div>
    </div>
</div>
</html>

