<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout/layout}">

<div layout:fragment="content">

  <script>
    let MemberJoin__submitDone = false;

    function MemberJoin__submit(form) {
      if (MemberJoin__submitDone) {
        return;
      }

      form.newPassword.value = form.newPassword.value.trim();
      form.newPasswordConfirm.value = form.newPasswordConfirm.value.trim();

      if (form.newPassword.value != form.newPasswordConfirm.value) {
        alert("비밀번호가 다릅니다.");
        form.newPassword.focus();

        return;
      }

      form.submit();
      MemberJoin__submitDone = true;
    }
  </script>
  <style>
    .container {
      max-width: 560px;
    }
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>


  <h3>비밀번호 변경 페이지</h3>
  <div class="container">
    <form th:action th:object="${memberModifyPasswordForm}" method="post" onsubmit="MemberJoin__submit(this); return false;">

      <div>
        <span>기존 비밀번호</span>
        <input type="password" th:field="*{oldPassword}" th:errorclass="field-error" placeholder="기존 비밀번호를 입력해주세요.">
      </div>
      <div class="field-error" th:errors="*{oldPassword}">기존 비밀번호 오류</div>

      <div>
        <span>새 비밀번호</span>
        <input type="password" th:field="*{newPassword}" th:errorclass="field-error" placeholder="새로운 비밀번호를 입력해주세요.">
      </div>
      <div class="field-error" th:errors="*{newPassword}">새 비밀번호 오류</div>

      <div>
        <span>새 비밀번호 확인</span>
        <input type="password" th:field="*{newPasswordConfirm}" th:errorclass="field-error" placeholder="새로운 비밀번호 확인.">
      </div>
      <div class="field-error" th:errors="*{newPasswordConfirm}">새 비밀번호 확인 오류</div>

      <input type="submit" value="비밀번호 변경"/>
    </form>
  </div>
</div>
</html>
