<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout/layout}">

<div layout:fragment="content">

  <section class="section section-write container mx-auto">
    <div class="px-2 pt-4">

      <h1 class="font-bold text-lg">프로필</h1>

      <div class="flex flex-col gap-3 mt-3">
        <div>
          <div class="badge badge-primary">이메일</div>

          <span th:text="${@rq.member.email}"></span>
        </div>

        <div>
          <div class="badge badge-primary">닉네임</div>

          <span th:text="${@rq.member.nickname}?: '아직 작가명이 등록되어있지 않습니다.'"></span>
        </div>
      </div>

      <div class="mt-3">
        <a th:unless="${@rq.hasAuthority('AUTHOR')}" href="/member/beAuthor" class="btn btn-primary btn-sm">작가활동 시작</a>
        <a th:if="${@rq.hasAuthority('AUTHOR')}" class="btn btn-primary btn-sm btn-disabled">이미 작가회원입니다.</a>
        <a href="/member/modify" class="btn btn-primary btn-sm">수정 페이지</a>
        <a href="/member/modifyPassword" class="btn btn-primary btn-sm">비밀번호 변경</a>
      </div>

    </div>
  </section>




</div>
</html>
