<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout/layout}">

<div layout:fragment="content">

  <script>
    let MemberJoin__submitDone = false;

    function MemberJoin__submit(form) {
      if (MemberJoin__submitDone) {
        return;
      }

      form.newPassword.value = form.newPassword.value.trim();
      form.newPasswordConfirm.value = form.newPasswordConfirm.value.trim();

      if (form.newPassword.value != form.newPasswordConfirm.value) {
        alert("비밀번호가 다릅니다.");
        form.newPassword.focus();

        return;
      }

      form.submit();
      MemberJoin__submitDone = true;
    }
  </script>
  <section class="section section-join flex-grow flex flex-col items-center justify-center">
    <div class="max-w-md w-full px-2 pt-4">
      <h1 class="font-bold text-lg">비밀번호 변경</h1>

      <form th:action th:object="${memberModifyPasswordForm}" method="post" class="flex flex-col gap-3" onsubmit="MemberJoin__submit(this); return false;">

        <div class="form-control">
          <label class="label">
            <span class="label-text">기존 비밀번호</span>
          </label>
          <input type="password" th:field="*{oldPassword}" placeholder="기존 비밀번호를 입력해주세요." class="input input-bordered">
          <div class="field-error" th:errors="*{oldPassword}">기존 비밀번호 오류</div>

        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">새 비밀번호</span>
          </label>
          <input type="password" th:field="*{newPassword}" placeholder="새로운 비밀번호를 입력해주세요." class="input input-bordered">
          <div class="field-error" th:errors="*{newPassword}">새 비밀번호 오류</div>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">새 비밀번호 확인</span>
          </label>
          <input type="password" th:field="*{newPasswordConfirm}" placeholder="새로운 비밀번호 확인." class="input input-bordered">
          <div class="field-error" th:errors="*{newPasswordConfirm}">새 비밀번호 확인 오류</div>
        </div>

        <input type="submit" value="비밀번호 변경" class="btn btn-primary"/>
      </form>

    </div>
  </section>

</div>
</html>
